/* index page css. Currently just named as styling*/
body{
	background: rgb(255, 255, 255);
	margin: 1%;
}


header {
	height: 15%;
	font-family: sans-serif ;
	text-align: center;
	text-transform: capitalize;

}

header h1{
	background-color: ;
	color: rgb(0, 0, 0);
}

header h2{
	font-size: medium;
}


nav ul{
	list-style: none;
	background-color: rgb(121 170 220);
	text-align: center;

}

/* main navigation blocks styling */
nav li{
	width: 20%;
	line-height: 50px;
	display: inline-block;
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

/* navigation bar*/
nav li ul{
	position: absolute;
	display: none;
	width: inherit;
}
nav a{
	text-decoration: none;
  	color: #fff;
  	display: block;
 	transition: .5s background-color;
}

nav a:hover{
	background-color: #005f5f;
}
nav a:focus{
	background-color: #005f5f;
}
/* need to fix through js coding. Inactive in current design*/
nav a.active{
	background-color: #aaa;
    color: #444;
    cursor: default;
}
nav li li{
	font-size: .8em;
}
nav > ul > li{
	text-align: center;
}



/*sub menu drop down funtion*/
nav li ul{
	position: absolute;
	display: none;
	padding: 0;
}

nav li:hover ul{
	display: block;

}


nav li ul li {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

/*main section styling*/

/*the left and right blockinsg of the body section of the page*/

.left{
	display: inline-block;
	width: 25%;
	height: 100vh;
	margin: 0 2%;
	vertical-align: top;
	font-size: large;
}


.left h1{
	text-align: left;
	font-family: 
}

.left li{
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
}

.right{
	display: inline-block;
	width:60%;
	padding: 3% , 10px;
	font-size: large;
}